body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    font-family: Arial, Helvetica, sans-serif;
}

.input-container{
    width: 280px;
    position: relative;
}

.label{
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all .2s;
    padding: 0 2px;
    z-index: 1;
    color: rgb(49, 220, 220);
    font-weight: bold;
}

.text-input{
    padding: .8rem;
    width: 100%;
    height: 100%;
    border: 4px solid rgb(127, 14, 127);
    border-radius: 5px;
    outline: none;
    transform: all .3s;
    color: rgb(127, 14, 127);
    background-color: #303030;
}

.label::before{
    content: "";
    height: 5px;
    background-color: #303030;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus{
    border: 4px solid rgb(127, 14, 127);
}

